  <table class="table table-hover table-sm table-dark table-striped mt-4">
    <tr>
      <th>Name</th>
      <th class="text-right">Menge</th>
      <th class="text-right">Preis</th>
      <th>Erledigt?</th>
    </tr>
    {% for eintrag in eintraege %}
    <tr>
      <td>
        <a href="{% url "liste_eintrag_bearbeiten" eintrag.id %}">{{eintrag}}</a>
      </td><td class="text-right">
        {{ eintrag.menge }} 
      </td><td class="text-right">
      {{ eintrag.preis | floatformat:2 }} Euro 
      </td><td>
      <form style="display:inline" action="{% url "liste_eintrag_bearbeiten" eintrag.id %}" method="POST">
        {% csrf_token %}
        <input type="checkbox" name="eintrag_status" {% if eintrag.status %}checked{% endif %} onchange="submit()">
      </form>
    </td></tr>
    {% endfor %}
    <tr><td colspan="4">
        {% if liste %}
        <form class="form-group" action="{% url "liste_eintrag_anlegen" %}" method="POST">
        <input type="hidden" name="eintrag_liste" value="{{ liste.id }}">
        {% else %}
        <form class="form-group" action="{% url "geschaeft_eintrag_anlegen" %}" method="POST">
        <input type="hidden" name="eintrag_geschaeft" value="{{ geschaeft.id }}">
        {% endif %}
        {% csrf_token %}

        <div class="input-group mb-4">
          <input class="form-control" type="text" name="eintrag_name" placeholder="Was brauchst du?" required pattern=".*[A-Za-z].*">
          <input class="form-control" type="text" name="eintrag_menge" placeholder="Menge">
          {% if liste %}
          <select class="form-control" name="eintrag_geschaeft" id="eintrag_geschaeft">
            <option value="None">Geschäft wählen</option> 
            {% for geschaeft in geschaefte %}
            <option value="{{geschaeft.id}}" {% if geschaeft.id == aktuelles_geschaeft %}selected{% endif %}>{{geschaeft.name}}</option> 
            {% endfor %}  
          </select>
          {% else %}
          <select class="form-control" name="eintrag_liste" id="eintrag_liste">
            {% for liste in listen %}
            <option value="{{liste.id}}" {% if liste.id == aktuelle_liste %}selected{% endif %}>{{liste.name}}</option> 
            {% endfor %}  
          </select>
          {% endif %}
          <div class="input-group-append">
            <input class="btn btn-light ml-1" type="submit" value="Hinzufügen">
          </div>
        </div>
      </form>
    </td> </tr>
  </table> 
