{% extends "einkaufsliste/base.html" %}
{% block content %}
  <form action="{% url aktuelle_view eintrag.id %}" method="POST">
  <div class="form-group">
    {% csrf_token %}
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" id="inputGroup-sizing-sm" for="eintrag_name">Name</label>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="eintrag_name" id="eintrag_name" value="{{eintrag.name}}"><br>
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" id="inputGroup-sizing-sm" for="eintrag_menge">Menge</label>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="eintrag_menge" id="eintrag_menge" value="{{eintrag.menge}}"><br>
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" id="inputGroup-sizing-sm" for="eintrag_preis">Preis</label>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="eintrag_preis" id="eintrag_preis" value="{{eintrag.preis | floatformat:2}}"><br>
    </div>

    <div class="input-group">
      <label class="input-group-text" id="inputGroup-sizing-sm" for="eintrag_status">Status</label>
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input class="form-check" type="checkbox" name="eintrag_status" id="eintrag_status" value="{{eintrag.status}}" {% if eintrag.status %}checked{% endif %}><br>
        </div>
      </div>
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="eintrag_liste">Liste</label>
      </div>
      <select class="custom-select" name="eintrag_liste" id="eintrag_liste">
        {% for liste in listen %}
        <option value="{{liste.id}}" {% if liste == eintrag.liste %}selected{% endif %}>{{liste.name}}</option> 
        {% endfor %} 
      </select>
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="eintrag_geschaeft">Geschäfte</label>
      </div>
      <select class="custom-select" name="eintrag_geschaeft" id="eintrag_geschaeft">
        <option value="None">Keins</option>
        {% for geschaeft in geschaefte %}
        <option value="{{geschaeft.id}}" {% if geschaeft == eintrag.geschaeft %}selected{% endif %}>{{geschaeft.name}}</option> 
        {% endfor %}
      </select><br>
    </div>
  
    <div class="input-group">
      <input class="btn btn-danger" type="submit" value="Löschen" form="deleteForm">
      <a class="btn btn-secondary mx-2" href="{% url view_abbrechen id_abbrechen %}">Abbrechen</a>
      <input class="btn btn-success" type="submit" value="Speichern">
    </div>
  </div>
  </form>

  <form action="{% url "eintrag_loeschen" eintrag.id %}" method="POST" id="deleteForm">
    {% csrf_token %}
    <input type="hidden" name="view_abbrechen" value="{{view_abbrechen}}">
    <input type="hidden" name="id_abbrechen" value="{{id_abbrechen}}">
  </form>
  
{% endblock %}
