{% extends "einkaufsliste/base.html" %}
{% block content %}
  
  <a class="display-4 mr-2" href="{% url "index" %}">&lt;</a>
  <span class="display-4">{{liste.name}}</span>
  {% include "einkaufsliste/eintrags_tabelle.html" %}
  <div class="card">
    <div class="card-body">
    <h3 class="card-title">Summe</h3>
    <p class="card-subtitle">{{ summe }} Euro</p>
    </div>
  </div>
{% endblock %}
